{% extends 'base.html.twig' %}

{% block title %}S'identifier{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="card-netflix p-5" style="width: 450px; min-height: 500px;">
            <h2 class="mb-4 fw-bold text-white">S'identifier</h2>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="mb-3">
                    <input type="email" value="{{ last_username }}" name="_username" class="form-control" placeholder="Email ou téléphone" required autofocus>
                </div>

                <div class="mb-4">
                    <input type="password" name="_password" class="form-control" placeholder="Mot de passe" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="d-flex justify-content-between small mb-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input bg-dark border-secondary" name="_remember_me" id="remember_me">
                        <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
                    </div>
                </div>

                <button class="btn btn-netflix w-100 py-2 fs-5 mb-3" type="submit">S'identifier</button>

                <div class="d-flex justify-content-end small mb-4">
                    <a href="{{ path('app_forgot_password_request') }}">Reset password ?</a>
                </div>

                <div class="text-muted mt-4">
                    <a href="{{ path('app_register') }}" class="text-white">Pas de compte ? Inscrivez-vous.</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}