{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="card-netflix p-5" style="width: 450px;">
            <h2 class="mb-4 fw-bold text-white">Mot de passe oublié ?</h2>
            <p class="mb-4 small">Entrez votre email et nous vous enverrons les instructions pour réinitialiser votre mot de passe.</p>

            {{ form_start(requestForm) }}
            <div class="mb-4">
                {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'name@example.com'}}) }}
                <div class="text-danger small mt-1">{{ form_errors(requestForm.email) }}</div>
            </div>

            <button class="btn btn-netflix w-100 py-2 fs-5" type="submit">Envoyer l'email</button>
            {{ form_end(requestForm) }}

            <div class="mt-4 text-center">
                <a href="{{ path('app_login') }}" class="text-white small">Retour à la connexion</a>
            </div>
        </div>
    </div>
{% endblock %}